In [11]:
import pandas as pd 

df = pd.read_csv ("https://gist.githubusercontent.com/tiangechen/b68782efa49a16edaf07dc2cdaa855ea/raw/0c794a9717f18b094eabab2cd6a6b9a226903577/movies.csv")


print (df)

                                  Film    Genre            Lead Studio  \
0           Zack and Miri Make a Porno  Romance  The Weinstein Company
1                      Youth in Revolt   Comedy  The Weinstein Company
2   You Will Meet a Tall Dark Stranger   Comedy            Independent
3                         When in Rome   Comedy                 Disney
4                What Happens in Vegas   Comedy                    Fox
..                                 ...      ...                    ...
72                 Across the Universe  romance            Independent
73                       A Serious Man    Drama              Universal
74                  A Dangerous Method    Drama            Independent
75                          27 Dresses   Comedy                    Fox
76                (500) Days of Summer   comedy                    Fox

    Audience score %  Profitability  Rotten Tomatoes % Worldwide Gross  Year
0                 70       1.747542                 64         $41.94   2008
1                 52       1.090000                 68         $19.62   2010
2                 35       1.211818                 43         $26.66   2010
3                 44       0.000000                 15         $43.04   2010
4                 72       6.267647                 28        $219.37   2008
..               ...            ...                ...             ...   ...
72                84       0.652603                 54         $29.37   2007
73                64       4.382857                 89         $30.68   2009
74                89       0.448645                 79          $8.97   2011
75                71       5.343622                 40        $160.31   2008
76                81       8.096000                 87         $60.72   2009

[77 rows x 8 columns]

In [12]:
df[(df['Year'] == 2007) & (df['Genre'] == 'Comedy')]

,Film,Genre,Lead Studio,Audience score %,Profitability,Rotten Tomatoes %,Worldwide Gross,Year
18,The Heartbreak Kid,Comedy,Paramount,41,2.129444,30,$127.77,2007
36,No Reservations,Comedy,Warner Bros.,64,3.307180,39,$92.60,2007
51,License to Wed,Comedy,Warner Bros.,55,1.980206,8,$69.31,2007
54,Knocked Up,Comedy,Universal,83,6.636402,91,$219,2007
62,Good Luck Chuck,Comedy,Lionsgate,61,2.367685,3,$59.19,2007
69,Enchanted,Comedy,Disney,80,4.005737,93,$340.49,2007

In [27]:
import pandas as pd 

df = pd.read_csv ("https://gist.githubusercontent.com/tiangechen/b68782efa49a16edaf07dc2cdaa855ea/raw/0c794a9717f18b094eabab2cd6a6b9a226903577/movies.csv")

df[(df['Audience score %'] > 70) & (df['Genre'] == 'Animation')].count()

Film                 2
Genre                2
Lead Studio          2
Audience score %     2
Profitability        2
Rotten Tomatoes %    2
Worldwide Gross      2
Year                 2
dtype: int64

In [24]:
import pandas as pd 

df = pd.read_csv ("https://gist.githubusercontent.com/tiangechen/b68782efa49a16edaf07dc2cdaa855ea/raw/0c794a9717f18b094eabab2cd6a6b9a226903577/movies.csv")

df[(df['Genre'] == 'Animation') & (df['Audience score %'] > 70)]

,Film,Genre,Lead Studio,Audience score %,Profitability,Rotten Tomatoes %,Worldwide Gross,Year
6,WALL-E,Animation,Disney,89,2.896019,96,$521.28,2008
22,Tangled,Animation,Disney,88,1.365692,89,$355.01,2010

In [25]:
import pandas as pd 

df = pd.read_csv ("https://gist.githubusercontent.com/tiangechen/b68782efa49a16edaf07dc2cdaa855ea/raw/0c794a9717f18b094eabab2cd6a6b9a226903577/movies.csv")

df.sort_values(by = 'Profitability', ascending = False ).head(5)

,Film,Genre,Lead Studio,Audience score %,Profitability,Rotten Tomatoes %,Worldwide Gross,Year
68,Fireproof,Drama,Independent,51,66.934000,40,$33.47,2008
60,High School Musical 3: Senior Year,Comedy,Disney,76,22.913136,65,$252.04,2008
14,The Twilight Saga: New Moon,Drama,Summit,78,14.196400,27,$709.82,2009
7,Waitress,Romance,Independent,67,11.089742,89,$22.18,2007
12,Twilight,Romance,Summit,82,10.180027,49,$376.66,2008